<% if resource.errors.any? %>
  <div class="row alert alert-danger alert-dismissible" id="error_explanation">
    <div class="col-12">
      <p>В вашей форме <%= I18n.t("error", count: resource.errors.count) %></p>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
